@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/FiraCode-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/FiraCode-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
